body { 
    background-image: url(../img/az_subtle.png);
}

.hoverwithtext {
/*    width: 100px;
    height: 50px;*/
    line-height: 0px;
    color: transparent;
    font-size: 12px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
       font-weight: 30;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
 
.hoverwithtext:hover {
    line-height: 50px;
    color: red;
}
 
.hoverwithtext img{
    float: down;
    margin: 0 15px;
}

.miniature-result{
    max-height: 80px;
}

