<!DOCTYPE html 
 PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}"
xml:lang="{% firstof LANGUAGE_CODE 'en' %}"
lang="{% firstof LANGUAGE_CODE 'en' %}">
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>{% block title %}{% endblock %} - We Trade Fun</title>

  <!-- Included CSS Files (Compressed) -->
  <link rel="stylesheet" href="/static/stylesheets/foundation.min.css">
  <link rel="stylesheet" href="/static/stylesheets/app.css">
  {% block css %}
  {% endblock %}

  <script src="/static/javascripts/modernizr.foundation.js"></script>
  {% block preload_js %}
  {% endblock %}

  {% block extra-head %}{% endblock %}
</head>

<body>
  <!-- Top Bar -->
  <nav class="top-bar">
    <ul>
      <!-- Title Area -->
      <li class="name">
        <h1>
          <a href="/">
            We Trade Fun
          </a>
        </h1>
      </li>
    </ul>

    <ul>
      <li>
        <a>Recycling Old Games Since 2012</a>
      </li>

      <li class="search">
        <form class="search" action="/trades/search" method="GET">
         <input type="text" placeholder="Search for a game..." name="term">
        </form>
      </li>
    </ul>


    <ul class = "right">
      <li class="divider"></li>
      <li class="has-dropdown">
        {%if user.is_authenticated%}
        <a href="/users/manage_account.html">{{user.username}}</a>
        <ul class="dropdown">
          <li><a href="/users/manage_account.html">Manage Account</a></li>
          <li><a href="/users/manage_account.html">Edit Account Details</a></li>
          <li><a href="/users/manage_account.html">Manage Wishlist</a></li>
          <li class="divider"></li>
          <li><a href="/users/sign_out">Logout</a></li>
        {%else%}
        <a href="/users/manage_account.html">Account</a>
        <ul class="dropdown">
          <li><a href="/users/sign_in">Login</a></li>
          <li><a href="/users/sign_up">Create Account</a></li>
        {%endif%}
            
        </ul>
    </ul>

  </nav>
  <!-- End Top Bar -->

  <div class="row">
    <div id="content">
      {% block content-header %}
      {% if error %}<div class="error">{{ error }}</div>{% endif %}
      {% if info %}<div class="info">{{ info }}</div>{% endif %}
      {% if messages %}
      {% for message in messages %}
      <div class="info">{{ message }}</div>
      {% endfor %}
      {% endif %}
      {% endblock %}

      {% block content %}{% endblock %}
    </div>
  </div>

  <!-- Footer -->

  <footer class="row">
    <tr>
      <td>
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="920">
          <tbody>
          <tr>
            <td height="100" width="50%">
              <table border="0" cellpadding="0" cellspacing="0">
                <tbody><tr>

                  <!-- ABOUT -->

                  <td class="footer" align="left" valign="top">
                    <strong>About</strong><br>
                    <a href="about.asp" class="#">About We Trade Fun</a><br>
                    <a class="footerLink" href="#">Terms of use</a><br>
                    <a class="footerLink" href="#">Privacy Policy</a><br>
                    <a class="footerLink" href="#">Contact us</a><br>
                  </td>
                  <td class="footer" align="left" valign="top" width="25">&nbsp;</td>

                  <!-- SITE AREAS -->

                  <td class="footer" align="left" valign="top">
                    <strong>Site areas</strong><br>
                    <a class="footerLink" href="#">Games</a><br>
                    <a class="footerLink" href="#">Users</a><br>

                  <!-- More Stuff To Add Under Site Areas Section????? -->

                  </td>         
                  <td class="footer" align="left" valign="top" width="25">&nbsp;</td>

                  <!-- Help and Support -->

                  <td class="footer" align="left" valign="top">
                    <strong>Help and Support</strong><br>
                    <a class="footerLink" href="#">How it works</a><br>
                    <a class="footerLink" href="#">FAQ</a><br>
                    <a class="footerLink" href="#">Help</a>
                  </td>

                </tr>              <!-- End tBody -->
              </tbody></table>
            </td>
            <td class="footerCopyright" align="right" valign="top" width="50%">
              Copyright © 2006-2010 We Trade Fun - All rights reserved - Patent pending<br>
            </td>
          </tr>
        </tbody></table>
      </td>
    </tr>
  </footer>

  <!-- End Footer -->



  <!-- Included JS Files (Uncompressed) -->
  <!--
  
  <script src="static/javascripts/jquery.js"></script>
  
  <script src="static/javascripts/jquery.foundation.mediaQueryToggle.js"></script>
  
  <script src="static/javascripts/jquery.foundation.forms.js"></script>
  
  <script src="static/javascripts/jquery.foundation.reveal.js"></script>
  
  <script src="static/javascripts/jquery.foundation.orbit.js"></script>
  
  <script src="static/javascripts/jquery.foundation.navigation.js"></script>
  
  <script src="static/javascripts/jquery.foundation.buttons.js"></script>
  
  <script src="static/javascripts/jquery.foundation.tabs.js"></script>
  
  <script src="static/javascripts/jquery.foundation.tooltips.js"></script>
  
  <script src="static/javascripts/jquery.foundation.accordion.js"></script>
  
  <script src="static/javascripts/jquery.placeholder.js"></script>
  
  <script src="static/javascripts/jquery.foundation.alerts.js"></script>
  
  <script src="static/javascripts/jquery.foundation.topbar.js"></script>
  
  <script src="static/javascripts/jquery.foundation.joyride.js"></script>
  
  <script src="static/javascripts/jquery.foundation.clearing.js"></script>
  
  <script src="static/javascripts/jquery.foundation.magellan.js"></script>
  
-->

<!-- Included JS Files (Compressed) -->
<script src="/static/javascripts/jquery.js"></script>
<script src="/static/javascripts/foundation.min.js"></script>

<!-- Initialize JS Plugins -->
<script src="/static/javascripts/app.js"></script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
{% block js %}
{% endblock %}
</body>
</html>