{% extends 'base.html' %}

{% block title %}{{game.name}}{% endblock %}

{% block content %}


    <div class="row">
      <div class="five columns">
          <div class="th">
            <img src="{{game.image}}"></a>
          </div>
      </div>
      
      <div class="seven columns">
        <ul class="pricing-table">
          <li class="title">{{game.name}}</li>
          <li class="price">{{numberOfListing}} games avaliable</li>
          <li class="description">{{game.deck}}</li>
          <li class="bullet-item"><a class="small button" href="#">+ Add to my wishlist</a></li>
          <li class="bullet-item">Platform(s): {{game.platforms}}</li>
          <li class="bullet-item">Genres: {{game.genres}}</li>
          <li class="bullet-item"><a class="secondary button" href="http://www.giantbomb.com/halo-4/61-35533/">See it on GiantBomb.com &raquo;</a></li>
          <li class="cta-button"> 
            <a href="#" class="radius button">Publish a listing</a>
            <a href="#" class="radius button">Make an offer</a>
            </ul>
          </li>
        </ul>


      </div>

    </div>

{% endblock %}
