{% extends 'base.html' %}

{% block title %}{{game.name}}{% endblock %}

{% block content %}


    <div class="row">
      <div class="five columns">
          <div class="th">
            <img src="{{game.image}}"></a>
          </div>
      </div>
      
      <div class="seven columns">
        <ul class="pricing-table">
          <li class="title"><h3>{{game.name}}</h3></li>
          <li class="price">{{numberOfListing}} copies avaliable<a class="tiny button right" href="#">+ Wishlist</a></li>
          <li class="description">{{game.deck}}</li>          
          <li class="bullet-item">Platform(s): {{game.platforms}}</li>
          <li class="bullet-item">Genres: {{game.genres}}</li>
          <li class="bullet-item"><a class="secondary button" href={{game.site_detail_url}}>See it on GiantBomb.com &raquo;</a></li>
          <li class="cta-button"> 
            <a href="#" class="radius button">Publish a listing</a>
            <a href="#" class="radius button">Make an offer</a>
            </ul>
          </li>
        </ul>


      </div>

    </div>

{% endblock %}
