{% extends 'base.html' %}
{% block title %}{{user.name}} | We Trade Fun{% endblock %}
{% block content %}

<h2 style="text-align:center">Welcome to We Trade Fun</h2>
<div class="row">
  {%if user.is_authenticated%}
  <a class="four offset-by-two large button" href="/users/account_management">View Your Account</a>
  <a class="four large button" href="/how_to_use">Confused about what to do?</a>
  {%else%}
  <a class="two offset-by-four button" href="/users/sign_in">Sign in &raquo;</a>
  <a class="two button" href="/users/sign_up">Sign up &raquo;</a>
  {%endif%}
</div>
  
  <div class="row">
    <h4>What's Popular Right Now?</h4>
      <div class="twelve columns">
        <ul class="block-grid five-up">
          {% for game in most_wishlisted_games %}
          <li><a href="/trades/game/{{game.id}}"><img src="{{game.image}}"/></a></li>
          {% endfor %}
        </ul>
      </div>
  </div>
  <hr>
  <div class="row">
    <h4>What's Available Right Now?</h4>
      <div class="twelve columns">
        <ul class="block-grid four-up">
        {% for game in most_listed_games %}
          <li><a href="/trades/game/{{game.id}}"><img src="{{game.image}}"/></a></li>
        {% endfor %}
      </ul>
     </div>
  </div>
  <hr>
  <div class="row">
    <h4>Most Popular of All Time</h4>
      <div class="twelve columns">
        <ul class="block-grid five-up">
        {% for game in most_wishlisted_games %}
        <li><a href="/trades/game/{{game.id}}"><img src="{{game.image}}"/></a></li>
        {% endfor %}
      </ul>
     </div>
  </div>
</div>
       
{% endblock %}

