<!DOCTYPE html>
<html>
<head>
<title>Game Search Form</title>
<script type = "text/javascript" src = "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>
var delay = (function(){
	var timer = 0;
	return function(callback, ms){
		clearTimeout (timer);
		timer = setTimeout(callback, ms);
	};
})();
function get_request_searchgame(){
    $.get(
		"/trades/get_request/", 
		{q :$("#searchgame_game_name").val()}, 
		function(data){
			$("#div2").text(data);
		}
	);
	return false;
}
function get_request_makeoffer(){
    $.get(
		"/trades/make_offer/", 
		{user_id :$("#makeoffer_user_id").val(), 
		game1_id :$("#makeoffer_game1_id").val(), 
		game2_id :$("#makeoffer_game2_id").val()}, 
		function(data){
			$("#div2").text(data);
		}
	);
	return false;
}
function get_request_addtowishlist(){
    $.get(
		"/trades/add_to_wish_list/", 
		{user_id :$("#addtowishlist_user_id").val(), 
		game_id :$("#addtowishlist_game_id").val()}, 
		function(data){
			$("#div2").text(data);
		}
	);
	return false;
}
function get_request_addtocurrentlist(){
    $.get(
		"/trades/add_to_current_list/", 
		{user_id :$("#addtocurrentlist_user_id").val(), 
		game_id :$("#addtocurrentlist_game_id").val()}, 
		function(data){
			$("#div2").text(data);
		}
	);
	return false;
}
function searchgame_game_name_keyup(){
    delay(get_request_searchgame, 300);
}
</script>
</head>
<body>
<h2>Game Search Form</h2>
<p>GET requests can be seen by using Firebug with Chrome or Firefox.</p>
<p>
Three ways to search a game name:<br/>
1. Press search button<br/>
2. Press enter<br/>
3. Key in and wait<br/>
</p>
<form onsubmit="return get_request_searchgame();" id="searchgame">
    Game Name: <input type="text" id="searchgame_game_name" value="call of duty" onkeyup="searchgame_game_name_keyup();">
    <input type="submit" value="Search">
</form>
<form onsubmit="return get_request_makeoffer();" id="makeoffer">
    My User ID: <input type="text" id="makeoffer_user_id">
	My Game ID: <input type="text" id="makeoffer_game1_id">
    Target Game ID: <input type="text" id="makeoffer_game2_id">
    <input type="submit" value="Trade">
</form>
<form onsubmit="return get_request_addtowishlist();" id="addtowishlist">
    My User ID: <input type="text" id="addtowishlist_user_id">
	Target Game ID: <input type="text" id="addtowishlist_game_id">
    <input type="submit" value="Add to Wish List">
</form>
<form onsubmit="return get_request_addtocurrentlist();" id="addtocurrentlist">
    My User ID: <input type="text" id="addtocurrentlist_user_id">
	Target Game ID: <input type="text" id="addtocurrentlist_game_id">
    <input type="submit" value="Add to Current List">
</form>
<p>==========</p>
<p><div id="div2"></div></p>
<p>==========</p>
</body>
</html>

	