<!DOCTYPE html>
<html>
<head>
<title>Search Form</title>
<script type = "text/javascript" src = "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
</head>
<body>
<h2>Search Form</h2>
<p>POST request is used to generate JSON or any backend work.</p>
<form action="/trades/post_request/" method="post">
<table border="0">
<tr>
<td>Account: </td>
<td><input type="text" name="account" value="WeTradeFun"></td>
</tr>
<tr>
<td>Password: </td>
<td><input type="text" name="password" value="**********"></td>
</tr>
<tr>
<td>Email: </td>
<td><input type="text" name="email" value="cse110group3@googlegroups.com"></td>
</tr>
<tr>
<td></td>
<td><input type="submit" value="Submit"></td>
</tr>
</table>
</form>
</body>
</html>