{% extends 'base.html' %}

{% block title %}{{user.name}}{% endblock %}

{% block content %}

<div class="row">
  <div class="twelve columns">
    <h3>Account Management</h3>

    <dl class="tabs">
      <dd class="active"><a href="#currentListings">Current Listings</a></dd>
      <dd><a href="#currentOffers">Current Offers</a></dd>
      <dd><a href="#tradeHistory">Trade History</a></dd>
      <dd><a href="#viewWishlist">View Wishlist</a><dd>
    </dl>

    <ul class="tabs-content">
      <li class="active" id="currentListingsTab">
        <table class="twelve">
          <thead>
            <tr>
              <th class="four columns">My Listing</th>
              <th class="four columns">Information</th>
              <th class="four columns">Current Offers</th>
            </tr> 
          </thead>
          <tbody>
            <tr>
              {% for key, value in listing_dict.items %}
              <td class="four columns">
                  <a href="#"><img src="{{key.game_listed.image_url}}"/><br /></a>
                  <a href="#" onclick="get_request_removelisting({{key.id}})" class="small alert button">Remove Listing</a>
              </td>
              <td class="four columns">
                <ul class="no-bullet">
                  <li>{{key.game_listed.name}}</li>
                  <li>{{key.game_listed.platform}}</li>
                  <li>Posted :{{key.datePosted}}</li>
                </ul>
              </td>
              <td class="four columns">
                <ul class="no-bullet">
                  <li><!-- list item for every offer-->
                    <ul class="no-bullet">
                      {% for offer in value %}
                      <li>
                        <a href=/trades/game/{{offer.sender_game.giant_bomb_id}}>{{offer.sender_game.name}}</a>
                      </li>
                      <li class="button-bar">
                        <ul class="button-group">
                          <li>
                            <a href="#" onclick="accept_offer()"  class="small button">Accept Offer</a>
                          </li>
                          <li>
                            <a href="#" onclick="decline_offer()" class="small alert button">Decline Offer</a>
                          </li>                          
                        </ul>
                      </li>
                      <li>
                        <p>This is great quality</p>
                      </li>
                      {% endfor %}
                    </ul>
                  </li>
                  <hr>
                </ul>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </li>
      <li id="currentOffersTab">
        <table class="twelve">
          <thead>
            <tr>
              <th class="three columns">Listing</th>
              <th class="three columns">My Offer</th>
              <th class="three columns">Date Offered</th>
              <th class="three columns">Status</th>
            </tr>              
          </thead>
          <tbody>
            {% for offer in current_offers %}
            <tr>
              <td class = "three columns"><a href=/trades/game/{{offer.receiver_game.giant_bomb_id}}><img src="{{offer.receiver_game.image_url}}"/></a></td>
              <td class = "three columns"><a href=/trades/game/{{offer.sender_game.giant_bomb_id}}><img src="{{offer.sender_game.image_url}}" /></a></td>
              <td class = "three columns">{{offer.dateRequested}}</td>

              <td class = "three columns">
                <ul class="no-bullet">
                  <li>
                    {{offer.status}}
                  </li>
                  <li class="button-bar">
                    <ul class="button-group">
                      <li>
                        <a href="#" onclick="confirm_offer()" class="small button">Confirm Trade</a>
                      </li>
                      <li>
                        <a href="#" onclock="cancel_offer()" class="small button">Cancel Trade</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </li>
      <li id="tradeHistoryTab">
        <table class="twelve columns">
          <thead>
            <tr>
              <th>Game Received</th>
              <th>Game Offered</th>
              <th>Completion Date</th>
              <th>User Contact</th>
            </tr>
          </thead>
          <tbody>
            {% for past_trades in history %}
            <tr>
              <td><a href="#"><img src={{transaction.receiver_giantBombID.image}} /></a></td>
              <td><a href= "#"><img src={{transaction.sender_giantBombID.image}} /></a></td>
              <td>{{transaction.date}}</td>
              <td>
                <ul class="no-bullet">
                  <li>
                      {{user.email}}
                    </li>
                    <li class="button-bar">
                      <ul class="button-group">
                        <li class="small dropdown button">
                          Rate User
                          <ul>
                            <li><a href="#" onclick="rate_user(5)">5: Excellent</a></li>
                            <li><a href="#" onclick="rate_user(4)">4: Good</a></li>
                            <li><a href="#" onclick="rate_user(3)">3: Acceptable</a></li>
                            <li><a href="#" onclick="rate_user(2)">2: Would Not Trade Again</a></li>
                            <li><a href="#" onclick="rate_user(1)">1: Criminal</a></li>
                          </ul>
                        </li>
                        <li><a href="#" class="small button" onclick ="report_user()">Report User</a></li>
                      </ul>
                    </li>
                </ul>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </li>
      <li id="viewWishlistTab">
        <table class="eight columns">
          <thead>
            <tr>
              <th>Image</th>
              <th>Title</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for item in wishlist %}
            <tr id="wishlist_item">
              <td><a href= "/trades/game/{{item.wishlist_game.giant_bomb_id}}"><img src="{{item.wishlist_game.image_url}}" /></a></td>
              <td><p>{{item.wishlist_game.name}}</td>
              <td>
                <a href="#" class="small button" onclick ="get_request_removefromwishlist({{item.wishlist_game.giant_bomb_id}})">Remove Item</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <form class="search four columns">
          <input type="text" placeholder="Add a game to your wishlist...">
        </form>
      </li>
    </ul>
  </div>
</div>

{% endblock %}

{% block js %}
<script>
function get_request_removefromwishlist(wishlist_game_id){
  $.get(
    "/trades/remove_from_wish_list/", 
    {game_id: wishlist_game_id},
    function(data){
      console.log(data);
      // TODO: reload page onto wishlist tab
    }
  );
  return false;
}

function get_request_removelisting(listing_primary_id){
  $.get(
    "/trades/remove_listing/", 
    {listing_id: listing_primary_id},
    function(data){
      console.log(data);
      location.reload();
    }
  );
  return false;
} 

</script>
{% endblock %}
  <!-- End Main Content and Sidebar -->



 

<!-- Included JS Files (Compressed) -->
<script src="javascripts/jquery.js"></script>
<script src="javascripts/foundation.min.js"></script>

<!-- Initialize JS Plugins -->
<script src="javascripts/app.js"></script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
</body>
</html>
