{% extends 'base.html' %}

{% block title %}{{user.name}}{% endblock %}

{% block content %}

<div class="row">
  <div class="twelve columns">
    <h3>Dashboard</h3>

    <dl class="tabs contained">
      <dd class="active"><a href="#myInformation">My Information</a></dd>
      <dd class="hide-for-small"><a href="#currentListings">Current Listings</a></dd>
      <dd class="hide-for-small"><a href="#currentOffers">Current Offers</a></dd>
      <dd class="hide-for-small"><a href="#tradeHistory">Trade History</a></dd>
      <dd class="hide-for-small"><a href="#viewWishlist">View Wishlist</a><dd>
    </dl>
    <ul class="tabs-content contained">
      <li class="active" id="myInformationTab">
        <table class="eight columns">
          <tbody>
             <tr>
              <td>My Rating</td>
              {% if user.rating == None %}
              <td>Unrated</td>
              {% else %}
              <td>{{user.rating}}</td>
              {% endif %}
            </tr>
            <tr>
              <td>{{user.email}}</td>
              <td><a href="#" data-reveal-id="edit_email">edit email</a></td>
            </tr>
            <tr>
              <td>********</td>
              <td><a>edit password</a></td>
            </tr>
          </tbody>
        </table>
      </li>
      <li id="currentListingsTab">
        <table class="twelve columns">
          <thead>
            <tr>
              <th>My Listings</th>
              <th>Information</th>
              <th>Current Offers</th>
            </tr> 
          </thead>
          <tbody>
            {% for key, value in listing_dict.items %}
            <tr>              
              <td>
                  <a href="/trades/game/{{key.game_listed.giant_bomb_id}}"><img class="miniature-management" src="{{key.game_listed.image_url}}"/><br /></a>
              </td>
              <td>
                <ul class="no-bullet">
                  <li>{{key.game_listed.name}}</li>
                  <li>Platform: {{key.game_listed.platform}}</li>
                  <li>Posted: {{key.datePosted}}</li>
                  <a href="#currentListings" onclick="get_request_removelisting({{key.id}})" class="small alert button">Remove Listing</a>
                </ul>
              </td>
              <td>
                <ul class="no-bullet">
                  <li><!-- list item for every offer-->
                    <ul class="no-bullet">
                      {% for offer in value %}
                      <li>
                        <a href="/trades/game/{{offer.sender_game.giant_bomb_id}}">{{offer.sender_game.name}}</a>
                      </li>
                      <li class="button-bar">
                        <ul class="button-group">
                          <li>
                            <a href="#currentListings" onclick="get_request_acceptoffer({{offer.pk}})"  class="small button">Accept Offer</a>
                          </li>
                          <li>
                            <a href="#currentListings" onclick="get_request_declineoffer({{offer.pk}})" class="small alert button">Decline Offer</a>
                          </li>                          
                        </ul>
                      </li>
                      <li>
                        <p>This is great quality</p>
                      </li>
                      {% endfor %}
                    </ul>
                  </li>
                  <hr>
                </ul>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </li>
      <li id="currentOffersTab">
        <table class="twelve columns">
          <thead>
            <tr>
              <th>Listing</th>
              <th>My Offer</th>
              <th>Date Offered</th>
              <th>Status</th>
            </tr>              
          </thead>
          <tbody>
            {% for offer in current_offers %}
            <tr>
              <td>
                <a href="/trades/game/{{offer.current_listing.game_listed.giant_bomb_id}}"><img class="miniature-management" src="{{offer.current_listing.game_listed.image_url}}"/></a></td>
              <td><a href="/trades/game/{{offer.sender_game.giant_bomb_id}}"><img class="miniature-management" src="{{offer.sender_game.image_url}}" /></a></td>
              <td>{{offer.dateRequested}}</td>

              <td>
                <ul class="no-bullet">
                  <li>
                    {% ifequal offer.status 'accepted' %}
                        Accepted
                    {% endifequal %}
                    {% ifequal offer.status 'offered' %}
                        Pending
                    {% endifequal %}

                  </li>
                  <li class="button-bar">
                    <ul class="button-group">
                      <li>
                        {% ifequal offer.status 'accepted' %}
                        <a href="#currentOffers" onclick="get_request_confirmoffer({{offer.pk}})" class="small button">Confirm Trade</a>
                        {% endifequal %}
                      </li>
                      <li>
                        <a href="#currentOffers" onclick="get_request_deleteoffer({{offer.pk}})" class="small button">Cancel Trade</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </li>
      <li id="tradeHistoryTab">
        <table class="twelve columns">
          <thead>
            <tr>
              <th>Game Listed</th>
              <th>Game Offered</th>
              <th>Completion Date</th>
              <th>User Contact</th>
            </tr>
          </thead>
          <tbody>
            {% for transaction in history %}
            <tr>
              <td><a href="#"><img class="miniature-management" src="{{transaction.current_listing.game_listed.image_url}}" /></a></td>
              <td><a href= "#"><img class="miniature-management" src="{{transaction.sender_game.image_url}}" /></a></td>
              <td>{{transaction.dateTraded}}</td>
              <td>
                <ul class="no-bullet">
                  <li>
                      {% if user == transaction.sender.user %}
                        {{transaction.current_listing.user.user.username}}</br>
                        {{transaction.current_listing.user.user.email}}
                      {% else %}
                        {{transaction.sender.user.username}}</br>
                        {{transaction.sender.user.email}}
                      {% endif %}
                  </li>
                    <li class="button-bar">
                      <ul class="button-group">
                        <li class="small dropdown button">
                          Rate User
                          <ul>
                            <li><a href="#" onclick="rate_user(5)">5: Excellent</a></li>
                            <li><a href="#" onclick="rate_user(4)">4: Good</a></li>
                            <li><a href="#" onclick="rate_user(3)">3: Acceptable</a></li>
                            <li><a href="#" onclick="rate_user(2)">2: Would Not Trade Again</a></li>
                            <li><a href="#" onclick="rate_user(1)">1: Criminal</a></li>
                          </ul>
                        </li>
                        <li><a href="#" class="small button" onclick="report_user()">Report User</a></li>
                      </ul>
                    </li>
                </ul>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </li>
      <li id="viewWishlistTab">
        <table class="eight columns">
          <thead>
            <tr>
              <th>Image</th>
              <th>Title</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for item in wishlist %}
            <tr id="wishlist_item">
              <td><a href= "/trades/game/{{item.wishlist_game.giant_bomb_id}}"><img class="miniature-management" src="{{item.wishlist_game.image_url}}" /></a></td>
              <td><p>{{item.wishlist_game.name}}</td>
              <td>
                <a href="#viewWishlist" class="small button" onclick ="get_request_removefromwishlist({{item.wishlist_game.giant_bomb_id}})">Remove Item</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <form class="search four columns">
          <input type="text" id="searchgame_game_name" placeholder="Add a game to your wishlist..." onkeyup="get_request_searchgame()">
          <input type="hidden" id="searchgame_game_id"/>
        </form>
      </li>
    </ul>
  </div>
</div>

<div id="edit_email" class="reveal-modal medium">
      <h2>What would you like to change it to?</h2>
        <div class="ui-widget">
          <label for="new_email">Game name: </label>
          <input type="text" id="new_email" placeholder="{{user.email}}"/>
          <a class="button" href="#" onclick="edit_email({{user.email}})">Accept</a>
        </div>
</div>

{% endblock %}

{% block js %}
<script>
function get_request_removefromwishlist(wishlist_game_id){
  $.get(
    "/trades/remove_from_wish_list/", 
    {game_id: wishlist_game_id},
    function(data){
      console.log(data);
      location.reload();
    }
  );
  return false;
}
// function edit_email(new_email){
//   ^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,6}$
//   $.get(
//     "/user/edit_email",
//     {new_email : new_email},
//     function(data){
//       console.log(data);
//     });
// }

function get_request_removelisting(listing_primary_id){
  $.get(
    "/trades/remove_listing/", 
    {listing_id: listing_primary_id},
    function(data){
      console.log(data);
      location.reload();
    }
  );
  return false;
} 

function get_request_acceptoffer(transaction_primary_id){
  $.get(
    "/trades/accept_offer/", 
    {transaction_id: transaction_primary_id},
    function(data){
      console.log(data);
      location.reload();
    }
  );
  return false;
}

function get_request_confirmoffer(transaction_primary_id){
  $.get(
    "/trades/confirm_offer/", 
    {transaction_id: transaction_primary_id},
    function(data){
      console.log(data);
      location.reload();
      // TODO: reload page onto current offers tab
    }
  );
  return false;
}

function get_request_declineoffer(transaction_primary_id){
  $.get(
    "/trades/decline_offer/", 
    {transaction_id: transaction_primary_id},
    function(data){
      console.log(data);
      location.reload();
      // TODO: reload page onto current offers tab
    }
  );
  return false;
}

function get_request_deleteoffer(transaction_primary_id){
  $.get(
    "/trades/delete_offer/", 
    {transaction_id: transaction_primary_id},
    function(data){
      console.log(data);
      location.reload();
      // TODO: reload page onto wishlist tab
    }
  );
  return false;
}

function get_request_searchgame(){
    $("#searchgame_game_name").autocomplete({
      source: "/trades/get_request/",
      select: function (event, ui) {
        $("#searchgame_game_id").val(ui.item.id);
        get_request_wishlist();
        return ui;
  }});
}

function get_request_wishlist(){
  console.log($('#searchgame_game_id').val());
  console.log('hello');
  $.get(
    "/trades/add_to_wish_list/",
  {
    game_id : $('#searchgame_game_id').val()
  },
  function(data){
      console.log();
      location.reload();
      //location.reload();
    }
  );
    return false;
}


</script>
{% endblock %}
  <!-- End Main Content and Sidebar -->



 

<!-- Included JS Files (Compressed) -->
<script src="javascripts/jquery.js"></script>
<script src="javascripts/foundation.min.js"></script>

<!-- Initialize JS Plugins -->
<script src="javascripts/app.js"></script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
</body>
</html>
