{% extends 'base.html' %}

{% block title %}{{user.name}}{% endblock %}

{% block content %}

<div class="row">
  <div class="twelve columns">
    <h3>Account Management</h3>

    <dl class="tabs">
      <dd class="active"><a href="#currentListings">Current Listings</a></dd>
      <dd><a href="#currentOffers">Current Offers</a></dd>
      <dd><a href="#tradeHistory">Trade History</a></dd>
      <dd><a href="#viewWishlist">View Wishlist</a><dd>
    </dl>

    <ul class="tabs-content">
      <li class="active" id="currentListingsTab">
        <table class="twelve columns">
          <thead>
            <tr>
              <th>My Listing</th>
              <th>Information</th>
              <th>Current Offers</th>
            </tr> 
          </thead>
          <tbody>
            <tr>
              {% for listing in currentList %}
              <td>
                <a href="#"><img src={{game.imageurl}} /><br /></a>
                 <a href="#" onclick="remove_listing()" class="small alert button">Remove Listing</a>
              </td>
              <td>
                <ul class="no-bullet">
                  <li>{{game.name}}</li>
                  <li>{{game.platform}}</li>
                  <hr>
                  <li>Posted :{{transaction.date}}</li>
                </ul>
              </td>
              <td>
                <ul class="no-bullet">
                  <li><!-- list item for every offer-->
                    <ul class="no-bullet">
                      {% for offer in currentList %}
                      <li>
                        <a href={{game.imagelink} Halo 3</a>
                      </li>
                      <li class="button-bar">
                        <ul class="button-group">
                          <li>
                            <a href="#" onclick="accept_offer()"  class="small button">Accept Offer</a>
                          </li>
                          <li>
                            <a href="#" onclick="decline_offer()" class="small alert button">Decline Offer</a>
                          </li>                          
                        </ul>
                      </li>
                      <li>
                        <p>{{transaction.message}}</p>
                      </li>
                      {% endfor %}
                    </ul>
                  </li>
                  {% for listing in currentList %}
                  <hr>
                  {% endfor %}
                </ul>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </li>
      <li id="currentOffersTab">
        <table class="twelve columns">
          <thead>
            <tr>
              <th>Listing</th>
              <th>My Offer</th>
              <th>Date Offered</th>
              <th>Status</th>
            </tr>              
          </thead>
          <tbody>
            {% for offer in listing %}
            <tr>
              <td><a href="#"><img src={{transaction.receiver_giantBombID.image}}/></a></td>
              <td><a href= "#"><img src={{transaction.sender_giantBombID.image}} /></a></td>
              <td>{{transaction.date}}</td>

              <td>
                <ul class="no-bullet">
                  <li>
                    {{transaction.status}}
                  </li>
                  <li class="button-bar">
                    <ul class="button-group">
                      <li>
                        <a href="#" onclick="confirm_offer()" class="small button">Confirm Trade</a>
                      </li>
                      <li>
                        <a href="#" onclock="cancel_offer()" class="small button">Cancel Trade</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </li>
      <li id="tradeHistoryTab">
        <table class="twelve columns">
          <thead>
            <tr>
              <th>Game Received</th>
              <th>Game Offered</th>
              <th>Completion Date</th>
              <th>User Contact</th>
            </tr>
          </thead>
          <tbody>
            {% for past_trades in history %}
            <tr>
              <td><a href="#"><img src={{transaction.receiver_giantBombID.image}} /></a></td>
              <td><a href= "#"><img src={{transaction.sender_giantBombID.image}} /></a></td>
              <td>{{transaction.date}}</td>
              <td>
                <ul class="no-bullet">
                  <li>
                      {{user.email}}
                    </li>
                    <li class="button-bar">
                      <ul class="button-group">
                        <li class="small dropdown button">
                          Rate User
                          <ul>
                            <li><a href="#" onclick="rate_user(5)">5: Excellent</a></li>
                            <li><a href="#" onclick="rate_user(4)">4: Good</a></li>
                            <li><a href="#" onclick="rate_user(3)">3: Acceptable</a></li>
                            <li><a href="#" onclick="rate_user(2)">2: Would Not Trade Again</a></li>
                            <li><a href="#" onclick="rate_user(1)">1: Criminal</a></li>
                          </ul>
                        </li>
                        <li><a href="#" class="small button" onclick ="report_user()">Report User</a></li>
                      </ul>
                    </li>
                </ul>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </li>
      <li id="viewWishlistTab">
        <table class="eight columns">
          <thead>
            <tr>
              <th>Image</th>
              <th>Title</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for items in wishlist %}
            <tr>
              <td><a href= "#"><img src={{wishlist.giantBombID.image}} /></a></td>
              <td><p>{{game.get_description}}</td>
              <td>
                <div class="small button">
                  <a href="#" class="small button" onclick ="remove_from_wishlist()">Remove Item</a>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <form class="search four columns">
          <input type="text" placeholder="Add a game to your wishlist...">
        </form>
      </li>
    </ul>
  </div>
</div>

{% endblock %}
  <!-- End Main Content and Sidebar -->



 

<!-- Included JS Files (Compressed) -->
<script src="javascripts/jquery.js"></script>
<script src="javascripts/foundation.min.js"></script>

<!-- Initialize JS Plugins -->
<script src="javascripts/app.js"></script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
</body>
</html>