{% extends 'base.html' %}

{% block content %}


<div class="twelve columns">

  <dl class="contained tabs">
    <dd class="active"><a href="#Login">Log In</a></dd>
    <dd><a href="#signUp">Sign Up</a></dd>
  </dl>

  <ul class="tabs-content contained">
    <li id="logInTab" class="active">
      <div class="row collapse">
        <div class="two columns">
          <label class="inline">Username</label>
        </div>
        <div class="ten columns">
          <input type="text" id="username" placeholder="username" />
        </div>
      </div>
      <div class="row collapse">
        <div class="two columns">
          <label class="inline">Password</label>
        </div>
        <div class="ten columns">
          <input type="password" id="password" placeholder="*****" />
        </div>
      </div>
      <button type="submit" class="radius button">Submit</button>
    </li>

    <li id="signUpTab">
      <form action="" method="post">
        {{ form.non_field_errors }}
        <div class="row collapse fieldWrapper">
            {{ form.username.errors }}
            <div class="two columns">
              <label for="id_username">Username</label>
            </div>
            <div class="ten columns">
              {{ form.username }}
            </div>            
        </div>

        <div class="row collapse fieldWrapper">
            {{ form.email.errors }}
            <div class="two columns">
              <label for="id_email">Email</label>
            </div>
            <div class="ten columns">
              {{ form.email }}
            </div>            
        </div>

        <div class="row collapse fieldWrapper">
            {{ form.password.errors }}
            <div class="two columns">
              <label for="id_password">Password</label>
            </div>
            <div class="ten columns">
              {{ form.password }}
            </div>            
        </div>

        <div class="row collapse fieldWrapper">
            {{ form.check_password.errors }}
            <div class="two columns">
              <label for="id_check_password">Repeat Password</label>
            </div>
            <div class="ten columns">
              {{ form.check_password }}
            </div>            
        </div>

        <button type="submit" class="radius button">Submit</button>
      </form>
    </li>
  </ul>

</div>

{% endblock %}

